/* Reset styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body styles */
body {
    background-color: #d9dcd6;
}

/* Header styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0072bb; /* Change to the blue color */
    color: #ffffff;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between header elements */
    align-items: center; /* Center-align header items vertically */
}

header h1 {
    font-size: 48px;
}

header nav ul {
    list-style-type: none;
    display: flex; /* Use flexbox for layout */
}

header nav ul li {
    margin-left: 25px;
}

/* Anchor styles */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph styles */
p {
    font-size: 16px;
}

/* Hero section styles */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float styles */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Content section styles */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits section styles */
.benefits {
    margin: 0 auto; /* Center the benefits horizontally */
    width: 75%; /* Adjust width as needed */
    padding: 20px;
    clear: both;
    overflow: auto; /* Ensure overflow is handled properly */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between benefit sections */
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    width: 30%; /* Adjust width of individual benefit sections */
    color: #ffffff;
    text-align: center;
    padding: 10px; /* Add padding for spacing */
}

.benefit-lead p,
.benefit-brand p,
.benefit-cost p {
    text-align: left; /* Align text to the left */
    padding: 0 10px; /* Add padding for indentation */
    width: calc(100% - 20px); /* Set a fixed width for the paragraphs */
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    max-width: 150px;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    text-align: center; /* Center-align text */
}

/* Section styles */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}